.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}
.form button{
    height: 36px;
    border-radius: 4px;
    background-color: #0633c7;
    border: 0;
    font-size: 18px;
    color: white;
}

.corpo{
    display: grid;
    place-items: center;
    padding: 0 24px;
    color: #f9f9f9;
}

.login{
    margin-top: 130px;
    padding: 70px 30px 44px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.568);
    text-align: center;
}

@media (width >= 450px){
    .login { width: 380px; }
}

.avatar{
    margin: 0 auto 16px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #232323, #474747);
    padding: 2px;
    width: 120px;
    height: 120px;
}

.avatar > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #161616;
}

.login > h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 4px;
    color: black;
}

.login > h3 {
    color: black;
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
}

.login form {
    display: grid;
    gap: 16px;
    place-items: center;
    width: 100%;
    margin: 0;
}

.textbox{
    width: 100%;
    position: relative;
    color: black;
}

.textbox span{
    position: absolute;
    top: 50%;
    left: 16px;
    translate: 0 -50%;
    color: black;
}

.login-form input,
.login-form button {
    width: 100%;
    height: 60px;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    border-radius: 8px;
}

.login-form input {
    background: transparent;
    border: 2px solid black;
    font-size: 18px;
    padding: 0 20px 0 50px;
    color: inherit;
}

.login-form input:focus{
    border-color: #232323;
}

.login-form input:focus ~ span {
    color: #232323;
}

.login-form button {
    cursor: pointer;
    background: #157;
    color: white;
    border: 0;
    font-weight: 600;
    letter-spacing: 2px;
}

.login-form a {
    color: #157;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
}