.home-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 0;
    align-items: center;
    justify-content: center;
}
.home-container h1{
    margin-bottom: 14px;
    color:white;
    font-size: 44px;
    padding-top: 94px;
    color:white;
}
.home-container span{
    color:#F1F1F1;
    margin-bottom: 18px;
}
.button-login{
    position:absolute;
    top:5%;
    right:4%;
    display: center;
    width: 10%;
    text-align: center;
    background: #157;
    border: 2px solid black;
    padding: 6px 60px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 150%;
    color: white;
}
.button-login:hover{
    background-color: black;
    border: 2px solid black;
    color: white;
    transition: all 0.3s;
    transition-delay: 0.05s;
}
.button-login:hover:after{
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    text-rendering: auto;
}

.links{
    display: flex;
    max-width: 600px;
    width: 90%;
    text-align: center;
    flex-direction: column;
}
.link-area{
    background: white;
    width: 100%;
    margin-bottom: 18px;
    padding: 8px 0;
    user-select: none;
    border-radius: 4px;
    transition: transform 0.4s;
}
.link-area:hover{
    transform: scale(1.04);
}
.link-text{
    font-size: 18px;
    line-height: 150%;
    color:#000;
}
footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 18px 0;
}
@media screen and (max-width: 619px){
    .home-container h1{
        font-size: 32px;
        text-align: center;
    }
    .link-text{
        font-size: 16px;
    }
}
@media screen and (max-width: 360px){
    .home-container h1{
        font-size: 24px;
        text-align: center;
    }
    .link-text{
        font-size: 14px;
    }
}